@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

*,
body {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
}

::-webkit-scrollbar {
    /* @apply w-[6px] h-0; */
    width: 2px;
}

::-webkit-scrollbar-track {
    background-color: #181825;
}

::-webkit-scrollbar-thumb {
    background-color: #b4befe;
}